# Go to script.google.com, deploy your web app, and paste the URL here:
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYED_SCRIPT_ID/exec

# (Optional) Direct email address where job application notifications will be sent:
NOTIFICATION_EMAIL=client-email@domain.com

# (Optional) Recipient phone number for notifications:
PHONE_NUMBER=07XXXXXXXX
